<div class="row mt-5">
  <div class="col-md-10 mx-auto">
    <h3 class="mb-5">商品登録</h3>
    <div class="input mb-5">
      <%= form_with model: @item, url: admin_items_path, local:true do |f| %>
        <div class="form_group">
          <%= f.label :商品画像, class: "col-md-2" %>
          <%= f.attachment_field :image %>  
        </div>
        <div class="form-group">
          <%= f.label :商品名, class: "col-md-2" %>
          <%= f.text_field :name %>  
        </div>
        <div class="form-group">
          <%= f.label :商品説明, class: "col-md-2" %>
          <%= f.text_area :introdution %>
        </div>
        <div class="form-group">
          <%= f.label :ジャンル, class: "col-md-2" %>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %>
        </div>
        <div class="form_group">
          <%= f.label :税抜価格, class: "col-md-2" %>
          <%= f.text_field :price %>
        </div>
        <div class="form_group">
          <%= f.label :販売ステータス, class: "col-md-2" %>  <!-- ラジオボタン -->
          <%= f.radio_button :is_sale, :true %>販売中
          <%= f.radio_button :is_sale, :false %>販売停止中
        </div>
        
        <%= f.submit '新規登録', class: "btn btn-success btn-sm" %>
      <% end %>
    </div>
  </div>
</div>