<div class="row mt-5">
  <div class="col-md-8">
    <h3 class="mb-5">商品詳細</h3>
    <div class="row">
      <div class="left col-md-">
        <%= attachment_image_tag @item, :image, format: 'jpg', fallback: "cake.jpg", size: "300x200"  %>
      </div>
      <div class="rigtht col-md-3">
        <p><%= @item.name %></p>
        <p><%= @item.introdution %></p>
        <p><%= @item.genre.name %></p>
        <p><%= @item.price %>円</p>
        <p>
          <% if @item.is_sale? %>
            販売中
          <% else %>
            販売停止中
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>